@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    background-color: white;
}

.pagina {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

header {
    height: 9vh;
    width: 100%;
    background-color: #091e38;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #2c90ea;
}

.perfil {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.botao {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.texto {
    color: white;
    width: 100%;
    height: 70%;
    text-align: left;
    display: flex;
    align-items: center;
}

.texto span {
    font-weight: 400;
    font-size: 2.5vh;
}


.botao .container {
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.botao button {
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    width: 15%;
    height: 50%;
    background-color: white;
    color: rgb(7, 6, 6);
    font-size: 1.5vh;
    margin-left: 5%;
}

.botao button:hover {
    background-color: black;
    color: white;
    border: 2px solid #5c93d6;
}

.paginaDash {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 20%;
    height: 91vh;
    background-color: #091e38;
}

.menu .container {
    flex-direction: column;
    color: white;
    height: 80%;
    align-items: center;
}

.menu .container h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: 400;
}

.Servidor{
    color: #2c90ea;
}

.selecionarDash{
    color: #2c90ea;
    margin-top: 90%;
}


.logo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 8%;
    height: auto;
    margin-right: 2%;
}

.logo-txt {
    color: #ddd;
    font-size: 2rem;
}

.logo span {
    color: #698cbe;
}

#select_Linha {
    margin-top: 2%;
    margin-bottom: 10%;
    border-radius: 5%;
    border: none;
    padding: 5%;
    font-weight: 900;
    background-color: lightgrey;
}

#select_servidor {
    margin-top: 2%;
    margin-bottom: 10%;
    border-radius: 5%;
    border: none;
    padding: 5%;
    font-weight: 900;
    background-color: lightgrey;
}

#select_dash {
    margin-top: 2%;
    margin-bottom: 10%;
    border-radius: 5%;
    border: none;
    padding: 5%;
    font-weight: 900;
    background-color: lightgrey;
}

.caixaGrafico {
    width: 100%; /* MEXE O TAMANHO DO BLOCO AZUL  */
    height: 85%; /* MEXE NO TAMANHA DA CAIXA GRAFICO*/
    display: flex; /* É NECESSARIO PARA COLOCAR O LEFT E O RITGH LADO A LADO*/
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.left-top {
    width: 100%;
    height: 54%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: white;
}

.left-bottom {
    width: 100%;
    height: 46%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: white;
}

#select_grafico_linha{
    width: 20%;
    border-radius: 5%;
    border: none;
    font-weight: 900;
    background-color: lightgrey;
}

.rigth {
    width: 50%;
    height: 100%;
}

.rigth-top {
    width: 100%;
    height: 54%;
    display: flex;
    justify-content: space-evenly;
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vh;
    height: 40vh;
    border-radius: 30px;
    justify-content: space-around;
}

.card-1-1{
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 192, 247);
    align-items: center;
    justify-content: center;
    width: 35vh;
    height: 15vh;
    border-radius: 30px;
}

.card-1-2{
    display: flex;
    flex-direction: column;
    background-color:  rgb(179, 192, 247);
    align-items: center;
    justify-content: center;
    width: 35vh;
    height: 15vh;
    border-radius: 30px;
}

.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35vh;
    height: 40vh;
    border-radius: 30px;
}

.card-2-1{
    display: flex;
    flex-direction: column;
    background-color:  rgb(179, 192, 247);
    align-items: center;
    justify-content: center;
    width: 35vh;
    height: 15vh;
    border-radius: 30px;
}

.card-2-2{
    display: flex;
    flex-direction: column;
    background-color:  rgb(179, 192, 247);;
    align-items: center;
    justify-content: center;
    width: 35vh;
    height: 15vh;
    border-radius: 30px;
}

.rigth-bottom {
    width: 100%;
    height: 46%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mensagemPacotes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color:#2c90ea
}

#mensagemCPU {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color:#2c90ea
}

#mensagemRAM {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color:#2c90ea
}


