@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    background-color: white;
}

.pagina {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

header {
    height: 9vh;
    width: 100%;
    background-color: #091e38;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #2c90ea;
}

.perfil {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.botao {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.texto {
    color: white;
    width: 100%;
    height: 70%;
    text-align: left;
    display: flex;
    align-items: center;
}

.texto span {
    font-weight: 400;
    font-size: 2.5vh;
}


.botao .container {
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.botao button {
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    width: 15%;
    height: 50%;
    background-color: white;
    color: rgb(7, 6, 6);
    font-size: 1.5vh;
    margin-left: 5%;
}

.botao button:hover {
    background-color: black;
    color: white;
    border: 2px solid #5c93d6;
}

.paginaDash {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 20%;
    height: 91vh;
    background-color: #091e38;
}

.menu .container {
    flex-direction: column;
    color: white;
    height: 80%;
    align-items: center;
}

.menu .container h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: 400;
}

.Servidor{
    color: #2c90ea;
}


.logo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 8%;
    height: auto;
    margin-right: 2%;
}

.logo-txt {
    color: #ddd;
    font-size: 2rem;
}

.logo span {
    color: #698cbe;
}

#select_servidor {
    margin-top: 2%;
    margin-bottom: 10%;
    border-radius: 5%;
    border: none;
    padding: 5%;
    font-weight: 900;
    background-color: lightgrey;
}

.caixaGrafico {
    width: 100%;
    height: 100%;
    display: flex;
}

.right {
    width: 50%;
    height: 100%;
}

.left {
    width: 50%;
    height: 100%;
    border-right: solid 3px black;
}

.left-top {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.left-bottom {
    width: 100%;
    height: 35.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.titulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cardT {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
}

.card {
    margin-top: 3%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #2c90ea;
}

.card1{
    display: block;
}

.card2{
    display: block;
}

.card3{
    display: block;
}

#mensagemCPU, #mensagemRAM, #mensagemDISCO {
    display: flex;
    flex-direction: row;
    background-color: gray;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 40px;
    border-radius: 10px;
}

.rigth-top {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.rigth-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.card-rigth {
    display: flex;
    flex-direction: column;
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 10%;
    height: 35vh;
    border-radius: 30px;
}

.titulo3{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

#mensagemPacotes {
    display: flex;
    flex-direction: row;
    font-size: 80px;
    margin-bottom: 100px;
}

.card-rigth2 {
    display: flex;
    flex-direction: column;
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 1%;
    height: 50vh;
}

.titulo4{
    display: flex;
    flex-direction: row;
}

#mensagemProcessos {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

#mensagemProcessos2 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    
   
}

#mensagemProcessos3 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
   
}

#mensagemProcessos4 {
    display: flex;
    flex-direction: row;
    font-size: 20px;
   
}

