body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #dddddd;
    box-shadow: -1px 9px 8px -3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo {
    display: flex;
    align-items: center;
    color: #64adf5;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 10px;
}

.header .logo-img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.logo-txt {
    color: #091e38;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo span {
    color: #698cbe;
}

.header .navbar a {
    margin: 0 10px;
    font-size: 19px;
    color: #212529;
    list-style: none;
    text-decoration: none;
    transition: .1s linear
}

.header .navbar a:hover {
    color: #e8eddf;
    border-bottom: .10px solid #212529;
    padding-bottom: .50px;
}

.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #5aa3ec, #318ce7, #83baf1);
    background-size: 400% 400%;
    animation: Animacao 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-esquerda {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-dash {
    width: 80%;
    max-width: 1000px;
}

.login-direita {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #212529;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.77);
}

.card-login > h1 {
    font-size: 40px;
    color: #5aa3ec;
    font-weight: 800;
    margin: 0;
}

.textos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textos > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #add1f5;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    outline: none;
    box-sizing: border-box;
}

.textos > label {
    color: #e8eddf;
    margin-bottom: 10px;
}

.textos > input::placeholder {
    color: #212529;
}

.btn {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 3px;
    color: #000029;
    background: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgba(0, 0, 0, 0.77);
}

.btn:hover {
    background-color: #318ce7;
    letter-spacing: 3px;
    animation-name: botao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes Animacao {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes botao {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/* Media Queries */

@media (max-width: 1024px) {

    .login-direita {
        width: 100%;
        align-items: center;
        height: auto;
    }

    .imagem-dash {
        display: none;
    }

    .card-login {
        width: 80%;
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    .header .navbar a {
        font-size: 14px;
        margin: 0 5px;
    }

    .header .logo1 img {
        height: 50px;
    }

    .imagem-dash {
        display: none;
    }

    .card-login > h1 {
        font-size: 35px;
    }

}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .logo1 img {
        height: 40px;
    }

    .header .navbar a {
        font-size: 12px;
        margin: 0 3px;
    }

    .imagem-dash {
        display: none;
    }

    .card-login > h1 {
        font-size: 30px;
    }

    .btn {
        padding: 12px 0px;
        font-size: 12px;
    }
}