.card_cadastro {
    background-color: #091e38;
    width: 40vw;
    height: fit-content;
    font-size: 4vh;
    color: #ddd;
    border-radius: 2vh;
    border: 2px solid #2c90ea;
    margin-left: 20rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.btn2 {
    width: 12.5vw;
    padding: 1rem;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5vw;
    cursor: pointer;
}

.cadastros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.cadastros button {
    font-size: 1.5vw;
    font-weight: bolder;
    width: 13vw;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 2rem;
    cursor: pointer;
}