@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #091e38;
    box-shadow: -1px 9px 8px -3px rgba(0, 0, 0, 0.1);
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;*/
}

.header .logo {
    display: flex;
    align-items: center;
    color: #64adf5;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 1rem;
}

.header .logo-img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.logo-txt {
    color: #091e38;
    font-size: 18px;
    text-decoration: none;
}

.logo span {
    color: #698cbe;
}

.header .navbar a {
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    transition: .1s linear
}

.header .navbar a:hover {
    color: #698cbe;
    border-bottom: 1px solid #698cbe;
    padding-bottom: 5px;
}

.atual {
    color: #589ce0;
    font-weight: bolder;
}

.login {
    width: auto;
    height: 100vh;
    background: linear-gradient(45deg, #2969a8, #0f569c, #2969a8);
    /*background-size: 400% 400%;*/
    animation: Animacao 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-esquerda {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-dash {
    height: 40vw;
    max-width: 1000px;
}

.login-direita {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-cadastro {
    width: 40vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.5rem;
    background: #212529;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.77);
}

.card-cadastro > h1 {
    font-size: 2vw;
    color: #5aa3ec;
    font-weight: 800;
    margin: 0;
}

.textos-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 20px ;
}

.textos-cadastro div {
    color: red;
}

.textos-cadastro input {
    border: none;
    border-radius: 10px;
    padding: 1vw;
    background: #ffffff;
    color: black;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    outline: none;
    box-sizing: border-box;
}

.textos-cadastro select {
    border: none;
    border-radius: 10px;
    background: #ffffff;
    color: black;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    outline: none;
    box-sizing: border-box;
}

.cadastro_campo input {
    width: 16vw;
    padding: 1vw;
    font-size: 0.8rem;
}

.cadastro_campo select {
    width: 16vw;
    padding: 1vw;
    font-size: 0.8rem;
}

.textos-cadastro > label {
    color: #e8eddf;
    margin-bottom: 10px;
    font-size: 2.5vh;
}

.textos-cadastro > input::placeholder {
    color: #212529;
}


.card-login {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #212529;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.77);
}


.card-login > h1 {
    font-size: 2vw;
    color: #5aa3ec;
    font-weight: 800;
    margin: 0;
}

.textos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textos div {
    color: red;
}

.textos > input {
    width: 40vw;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    outline: none;
    box-sizing: border-box;
}

.textos > label {
    color: #e8eddf;
    margin-bottom: 10px;
}

.textos > input::placeholder {
    color: #212529;
}

.btn {
    width: 12.5vw;
    padding: 0.5rem;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5vw;
    color: #000029;
    background: #318ce7;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgba(0, 0, 0, 0.77);
}

.btn:hover {
    background-color: #9fcbf7;
    animation-name: botao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes Animacao {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes botao {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/* Media Queries */

@media (max-width: 1024px) {

    .login-direita {
        width: 100%;
        align-items: center;
        height: auto;
    }

    .imagem-dash {
        display: none;
    }

    .card-login {
        width: 80%;
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    .header .navbar a {
        font-size: 14px;
        margin: 0 5px;
    }

    .header .logo1 img {
        height: 50px;
    }

    .imagem-dash {
        display: none;
    }

    .card-login > h1 {
        font-size: 35px;
    }

}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .logo1 img {
        height: 40px;
    }

    .header .navbar a {
        font-size: 12px;
        margin: 0 3px;
    }

    .imagem-dash {
        display: none;
    }

    .card-login > h1 {
        font-size: 30px;
    }

    .btn {
        padding: 12px 0px;
        font-size: 12px;
    }
}