.card_cadastro {
    background-color: #091e38;
    height: fit-content;
    color: #ddd;
    border-radius: 2vh;
    border: 2px solid #2c90ea;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.cadastro {
    margin-left: 20rem;
    margin-top: 5.3rem;
    width: 40vw;
    font-size: 4vh;
}

.gerenciar {
    margin-left: 2rem;
    width: 38vw;
    font-size: 3vh;
    height: 78%;
  
}

#att{
    margin-top: 8%;
    margin-bottom: 3%;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.btn2 {
    width: 12.5vw;
    padding: 1rem;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5vw;
    cursor: pointer;
}

.cadastros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.cadastros button {
    font-size: 1.5vw;
    font-weight: bolder;
    width: 13vw;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 2rem;
    cursor: pointer;
}

.input_gerenciar input {
    width: 14vw;
    padding: 0.7vw;
    font-size: 0.8rem;
}

.input_gerenciar select {
    width: 14vw;
    height: 3.2rem;
    padding: 0.7vw;
    font-size: 0.8rem;
}