* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    background-color: #dddd;
}

.pagina {
    width: 100vw;
    height: 100vh;
}

header {
    height: 12%;
    width: 100%;
    background-color: #091e38;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #2c90ea;
}

.perfil {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.texto {
    color: white;
    width: 100%;
    height: 70%;
    text-align: left;
    display: flex;
    align-items: center;
}

.texto span {
    font-weight: 400;
    font-size: 2.5vh;
}

.botao {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.botao button {
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    width: 15%;
    height: 30%;
    background-color: white;
    color: rgb(7, 6, 6);
    font-size: 1.5vh;
    margin-left: 5%;
}

.botao button:hover {
    background-color: black;
    color: white;
    border: 2px solid #5c93d6;
}

.botao button:hover {
    background-color: black;
    color: white;
    border: 2px solid #5c93d6;
}

.botao .container {
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

.paginaDash {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 17%;
    height: 100%;
    background-color: #091e38;
}

.menu .container {
    flex-direction: column;
    color: white;
    height: 80%;
    align-items: center;
    
}

.menu .container h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: 400;
}

/* .agora{
    color: #2c90ea;
} */

.selectEsquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-around;
}

.selectEsquerda select {
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 1rem;
    text-align: center;
    height: 3rem;
    width: 9.5rem;
    padding: 5px;
}

.selectEsquerda span {
    margin-top: 90px;
    color: rgb(133, 167, 213);
}

.esqueda_dash{
    display: flex;
    width: 120%;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    text-align: center;
    gap: 7rem;
    padding-left: 50px;
    padding-top: 25px;
}

.cards h3{
    color: rgb(75, 117, 175);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card_ok, .card_critico, .card_atencao {
    font-size: 1.5rem;
    background-color: rgb(143, 143, 143);
    border-radius: 1.3rem;
    padding: 0.5rem 2rem;
    color: white;
}

.card_ok{
    color: rgb(0, 152, 0);
    border: 0.15rem solid rgb(0, 152, 0);
}

.card_critico{
    color: rgb(190, 63, 63);
    border: 0.15rem solid rgb(190, 63, 63);
}

.card_atencao{
    color: rgb(190, 221, 15);
    border: 0.15rem solid rgb(190, 221, 15);
}