@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    background-color: #dddd;
    overflow: hidden;
}

.pagina {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

header {
    height: 12%;
    width: 100%;
    background-color: #091e38;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #2c90ea;
}

.perfil {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.botao {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.texto {
    color: white;
    width: 100%;
    height: 70%;
    text-align: left;
    display: flex;
    align-items: center;
}

.texto span {
    font-weight: 400;
    font-size: 2.5vh;
}


.botao .container {
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.botao button {
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    width: 15%;
    height: 30%;
    background-color: white;
    color: rgb(7, 6, 6);
    font-size: 1.5vh;
    margin-left: 5%;
}

.botao button:hover {
    background-color: black;
    color: white;
    border: 2px solid #5c93d6;
}

.paginaDash {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 20%;
    height: 100%;
    background-color: #091e38;
}

.menu .container {
    flex-direction: column;
    color: white;
    height: 80%;
    align-items: center;
}

.menu .container h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: 400;
}

.agora {
    color: #2c90ea;
}


.logo {
    margin-top: 200%;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 8%;
    height: auto;
    margin-right: 2%;
}

.logo-txt {
    color: #ddd;
    font-size: 2rem;
}

.logo span {
    color: #698cbe;
}

.caixaGrafico {
    width: 100%;
    height: 100%;
    display: flex;
}

/* ################################## */

.right {
    width: 60%;
    height: 100%;
}

.left {
    width: 40%;
    height: 100%;
    border-right: solid 3px black;
}

.left-top {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.left-bottom {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.right-top {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.right-bottom {
    width: 100%;
    height: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo-right {
    background-color: white;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.titulo-right button {
    background-color: #dddddd;
    border: none;
    font-size: 100%;
    border-radius: 5%;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

.titulo-right h1 {
    font-size: 140%;
    color: #2a5792;
}

#selectLinha {
    background-color: #dddddd;
    border: none;
    font-weight: 900;
    color: #2a5792;
    padding: 2%;
    border-radius: 10%;
    font-size: 110%;
}

#selectMes {
    background-color: #dddddd;
    border: none;
    font-weight: 900;
    color: #2a5792;
    padding: 2%;
    border-radius: 10%;
    font-size: 110%;
}

#chart {
    width: 95%;
}

.apexcharts-canvas {
    height: 100%;
}

.conteudo-right {
    background-color: white;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card1 {
    width: 50%;
    height: 80%;
    background-color: rgb(208, 208, 208);
    border-radius: 20%;
    color: #091e38;
}

.card1-top {
    height: 35%;
    width: 100%;
    border-bottom: solid 4px black;
}

.card1-bottom {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card1-bottom h2 {
    font-weight: 400;
}

.card1-top h2 {
    text-align: center;
}

.card2 {
    width: 50%;
    height: 30%;
    background-color: rgb(208, 208, 208);
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 h1 {
    font-size: 300%;
}


.tituloPeriodo {
    background-color: #091e38;
    color: white;
    padding: 3%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 70%;
    justify-content: flex-start;
}

.tituloSobrecarregado {
    color: #2a5792;
    font-size: 120%;
}

.cardSobrecarregado {
    background-color: #999999;
    height: 30%;
    width: 75%;
    border-radius: 3%;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #091e38;
}

.cardSobrecarregado1 {
    width: 40%;
    height: 100%;
}

.cardSobrecarregado2 {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.cardSobrecarregado button {
    background-color: #dddddd;
    border: none;
    font-size: 100%;
    border-radius: 5%;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 5%;
}

.cardSobrecarregado2 h1 {
    margin-left: 8%;
}

.titulosCriticos {
    font-size: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.alertasCriticos {
    width: 75%;
}

.cardsCriticos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75%;
    margin-bottom: 10%;
    color: #091e38;
}

.cardRAM {
    width: 40%;
    height: 100%;
    background-color: #999999;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cardCPU {
    width: 40%;
    height: 100%;
    background-color: #999999;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cardCPU button {
    background-color: #dddddd;
    border: none;
    font-size: 100%;
    border-radius: 5%;
    padding-left: 6%;
    padding-right: 6%;
    cursor: pointer;
    margin-left: 6%;
    margin-top: 6%;
}

.cardRAM button {
    background-color: #dddddd;
    border: none;
    font-size: 100%;
    border-radius: 5%;
    padding-left: 6%;
    padding-right: 6%;
    cursor: pointer;
    margin-left: 6%;
    margin-top: 6%;
}

.cardCritico1 {
    height: 100%;
    width: 40%;

}

.cardCritico2 {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
}

.cardCritico2 h1 {
    margin-left: 3%;
}

.cardRank {
    width: 80%;
    height: 70%;
    background-color: #999999;
    font-size: 70%;
}

.RankTitulo {
    width: 100%;
    height: 30%;
    background-color: #999999;
    display: flex;
    flex-direction: row;
    font-size: 80%;
}

.RankTitulo1 {
    height: 100%;
    width: 10%;
    font-size: 200%;
}

.RankTitulo2 {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    color: #091e38;
    font-weight: 900;
}

.RankTitulo2 h1 {
    margin-left: 5%;
}

.RankConteudo {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-top: solid 3px #091e38;
    color: #091e38;
}

.RankTitulo button {
    background-color: #dddddd;
    border: none;
    font-size: 100%;
    border-radius: 5%;
    padding-left: 8%;
    padding-right: 8%;
    cursor: pointer;
    margin-left: 9%;
    margin-top: 9%;
}

#selectRank {
    border: none;
    padding: 2%;
    margin-bottom: 2%;
    padding-left: 35%;
    padding-right: 35%;
    font-size: 110%;
    font-weight: 900;
    background-color: #dddddd;
    color: #2a5792;
}

#WordCloud {
    height: 100%;
    width: 100%;
    margin-left: 5%;
    margin-top: -5%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #091e38;
    width: 45%;
    border-radius: 2%;
    font-weight: 900;
    max-height: 35%;
    overflow: auto;
}

.modal-content h1{
    color: #091e38;
    font-size: 150%;
}

.close {
    color: white;
    background-color: #091e38;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 1%;
    border-radius: 25%;
    margin-bottom: 10%;
}






